* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gridWrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "aside main right"
    "aside main right";
}
a {
  text-decoration: none;
  color: inherit;
}
.gridWrapper header {
  background-color: black;
  padding: 14px 28px;
  display: flex;
  justify-content: space-between;
  grid-area: header;
}
.gridWrapper header .left,
.gridWrapper header .right {
  display: flex;
  align-items: center;
}
.gridWrapper header a {
  color: white;
  margin: 14px;
}
header a:hover {
  color: rgb(160, 157, 157);
}
header a:hover svg {
  fill: rgb(160, 157, 157);
}
header a:hover span {
  border-color: rgb(160, 157, 157);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.search {
  border: 1px solid gray;
  border-radius: 28px;
  display: flex;
  align-items: center;
  padding: 14px;
  margin: 0 7px;
  background-color: black;
}
header input {
  background-color: black;
  width: 280px;
  height: 28px;
  border: none;
  color: white;
  transition: 0.28s ease-in;
}
header input::placeholder {
  color: white;
}
header input:focus {
  width: 420px;
  outline: none;
  background-color: rgb(160, 157, 157);
  color: black;
  transition-delay: 0s;
}
header input:focus::placeholder {
  color: gray;
}
header input:active .search {
  background-color: rgb(160, 157, 157);
}
header input:focus + svg {
  opacity: 0;
  transition-delay: 0s;
}
.search svg {
  transition-delay: 0.28s;
}
svg {
  fill: white;
}
.right span {
  border: 4px solid white;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin: 5px;
  position: relative;
  top: 3px;
}
.right a {
  display: flex;
  align-items: center;
  position: relative;
}
.right img {
  border-radius: 50%;
}
.right a:nth-child(3)::after {
  color: white;
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: blue;
  position: absolute;
  left: 12px;
  bottom: 12px;
  border: 3px solid black;
  box-sizing: border-box;
}
.aside {
  padding: 28px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid gray;
  grid-area: aside;
}
.box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.box1 a {
  background-color: green;
  color: white;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 7px 14px;
}
.box1 a:hover {
  background-color: rgb(3, 102, 3);
}
.box2 {
  display: block;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.box2 input {
  width: 100%;
  background-color: aliceblue;
  border-radius: 28px;
  border: 1px solid gray;
  padding: 7px;
  padding-left: 14px;
  margin: 14px 0 28px;
}
.box2 input:focus {
  background-color: white;
  outline-color: blue;
}
.box2 img {
  border-radius: 50%;
}
.box2 div {
  padding: 5px 0;
}
.box2 a:hover {
  text-decoration: underline;
}
.box3 {
  padding-top: 10px;
}
.box3 h3 {
  margin: 10px 0;
}
.middle {
  padding: 28px;
  grid-area: main;
  background-color: aliceblue;
  height: 100vh;
}
.main-nav {
  border-bottom: 1px solid gray;
}
.main-nav button {
  margin-right: 14px;
  padding: 7px;
  border: 1px solid transparent;
  background-color: transparent;
  position: relative;
  margin-bottom: 10px;
}
.main-nav button:hover {
  background-color: gainsboro;
  cursor: pointer;
  border-radius: 14px;
}
.main-nav #beta {
  color: green;
  border: 1px solid green;
  border-radius: 14px;
  padding: 4px;
  font-size: 0.8em;
}
.main-nav button.active::after {
  position: absolute;
  bottom: -12px;
  left: -2px;
  width: 102%;
  height: 2px;
  content: "";
  background-color: orange;
  border-radius: 1px;
}
.introduce {
  background-color: white;
  border: 1px solid gray;
  border-radius: 14px;
  margin: 28px 0;
  padding: 14px;
}
.introduceBox {
  border: 1px solid gray;
  border-radius: 14px;
  margin: 14px 0;
  font-size: small;
}
.introduceHeader {
  border-bottom: 1px solid gray;
  padding: 14px;
}
.introduceArticle {
  padding: 14px;
  background-color: aliceblue;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  list-style-position: inside;
}
.introduceButtons {
  text-align: right;
}
.introduceButtons a:nth-child(1) {
  color: blue;
}
.introduceButtons a:nth-child(2) {
  background-color: green;
  color: white;
  border-radius: 14px;
  align-items: center;
  padding: 7px 14px;
  margin-left: 14px;
}
.introduceButtons a:nth-child(1):hover {
  text-decoration: underline;
}
.introduceButtons a:nth-child(2):hover {
  background-color: rgb(3, 102, 3);
}
.discover {
  border: 1px solid gray;
  border-radius: 14px;
  margin: 14px 0;
  background-color: white;
  padding: 28px;
}
.discover h2 {
  padding: 14px 0;
}
.discover p a,
.ProTip p:nth-child(1) a {
  color: blue;
}
.discover p a:hover,
.ProTip p:nth-child(1) a:hover {
  text-decoration: underline;
}
.discover p + a {
  border-radius: 14px;
  padding: 7px 14px;
  background-color: aliceblue;
  color: blue;
  display: inline-block;
  margin-top: 28px;
}
.discover p + a:hover {
  background-color: blue;
  color: aliceblue;
}
.footer {
  font-size: small;
  border-bottom: 1px solid gray;
}
.ProTip svg {
  fill: gray;
}
.ProTip p:nth-child(1) {
  margin-bottom: 7px;
}
.ProTip p:nth-child(2) a:hover {
  color: blue;
  text-decoration: underline;
}
.ProTip p:nth-child(2) a:hover svg {
  fill: blue;
}
.footerMenu {
  margin: 28px 0 14px;
  display: flex;
  justify-content: space-between;
}
.footerMenu .license {
  flex: 1;
  width: 300px;
  /* border: 1px solid black; */
}
.footerMenu .license a {
  display: flex;
  align-items: center;
}
.footerMenu svg {
  fill: gray;
  margin-right: 7px;
}
.footerMenu a:hover svg {
  fill: rgb(80, 79, 79);
}
.footerMenu .menu {
  display: flex;
  flex: 2;
  height: 100px;
  flex-wrap: wrap;
  align-items: flex-start;
  /* border: 1px solid black; */
}
.footerMenu .menu a {
  margin-right: 28px;
  width: 128px;
  /* border: 1px solid black; */
}
.footerMenu .menu a:hover {
  color: blue;
  text-decoration: underline;
}
.rightAside {
  padding: 28px;
  grid-area: right;
  background-color: aliceblue;
  padding-right: 160px;
}
.rightAside h3 {
  margin-bottom: 14px;
}
.rightAside ul li {
  font-size: small;
  color: gray;
  position: relative;
  margin-bottom: 14px;
}
.rightAside ul li:before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 156%;
  background-color: gray;
  position: absolute;
  left: -14px;
  top: 7px;
}
.rightAside ul li a {
  display: block;
  color: black;
  font-size: 14px;
}
.rightAside ul li a:hover {
  color: blue;
  text-decoration: underline;
}
.rightAside > a {
  color: gray;
  font-size: small;
}
.rightAside > a:hover {
  color: blue;
}
