* {
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
}
.container {
  background-color: gray;
  text-align: center;
  font-size: 0;
  /* 틈 생길때 써보기 */
  position: relative;
}
.menuDesign {
  position: absolute;
  /* border: 1px solid white; */
  width: 50px;
  height: 50px;
  display: none;
}
.menuDesign:hover {
  cursor: pointer;
}
.menubox {
  width: 45px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 5px;
  top: 15px;
}
.B {
  top: 25px;
}
.C {
  top: 35px;
}
.container .menu {
  background-color: black;
  display: flex;
  justify-content: center;
}
li {
  /* float: left; */
  list-style: none;
  /* border: 1px solid white; */
}
li a:hover {
  background-color: gray;
  color: brown;
}
.clearFix {
  clear: both;
}
li a {
  display: inline-block;
  width: 200px;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.5s ease-in background-color;
}
h1 {
  margin: 50px;
  text-align: center;
  font-size: 28px;
}
.container2 {
  /* border: 1px solid black; */
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container2 div {
  width: 280px;
  height: 300px;
  background-position: center;
  background-size: 100%; /*transition 적용되려면 같은 수치로*/
  background-repeat: no-repeat;
  transition-duration: 1s;
}
.container2 div:hover {
  background-size: 130%;
}
.container2 div:nth-child(1) {
  background-image: url(/12/img/1.jpg);
}
.container2 div:nth-child(2) {
  background-image: url(/12/img/2.jpg);
}
.container2 div:nth-child(3) {
  background-image: url(/12/img/3.jpg);
}

.container3 {
  /* border: 1px solid black; */
  margin: 1000px 0 0 0;
}
.container3 div {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container3 div:nth-child(1) {
  background-image: url(/12/img/4.jpg);
  background-position: center;
}
.container3 div:nth-child(2) {
  background-image: url(/12/img/5.jpg);
  background-position: left;
}
.container3 div:nth-child(3) {
  background-image: url(/12/img/6.jpg);
  background-position: right;
  margin: 0;
}
.box {
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 112px;
  transition: 1s;
}
.box2 {
  position: fixed;
  bottom: 28px;
  right: 28px;
  width: 112px;
  opacity: 0;
}
a:hover .box {
  opacity: 0;
}
a:hover .box2 {
  opacity: 1;
}
.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.pop {
  position: absolute;
  width: 800px;
  height: 280px;
  background-color: aliceblue;
  top: 50%;
  left: 50%;
  text-align: center;
  /* padding: 28px; */
  border-radius: 28px;
  border: 1px solid black;
  z-index: 1;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.pop h2 {
  border-bottom: 1px solid black;
  padding: 28px;
  position: relative;
}
.pop button {
  position: absolute;
  right: 28px;
  top: 24px;
  background-color: skyblue;
  border: 1px solid transparent;
  padding: 4px 7px;
  font-weight: bolder;
}
.pop button:hover {
  cursor: pointer;
}
.pop p {
  padding: 28px;
  text-align: justify;
}
svg {
  position: absolute;
  left: 0;
  animation-name: wave;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0.28;
}
.pop svg:nth-child(3) {
  animation-direction: alternate-reverse;
}

@keyframes wave {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-800px);
  }
}

.none {
  display: none;
}
/*  */
.slideContainer {
  width: 400px;
  height: 600px;
  background-color: beige;
  margin: 0 auto;
  overflow: hidden;
}
.slideContainer ul {
  display: flex;
  width: 300%;
  height: 100%;
  /* transform: translate(-400px); */
  transition: 1s;
}
.slideContainer ul li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .btns {
  display: flex;
  justify-content: center;
}
.slider .btns .btn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: white;
  background-color: brown;
  text-align: center;
  line-height: 28px;
  margin: 28px;
  cursor: pointer;
}
