body {
  height: 1500px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
}
.imgBackground {
  margin-top: 200px;
  padding: 20px;
  /* width: 300px; */
  height: 500px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  background-image: url("../images/CSS3_logo_and_wordmark.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100px 20px;
  background-clip: content-box;
  background-attachment: fixed;
}
